@font-face {
    font-family: 'franklingothic-book';
    src: url('fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-demi';
    src: url('fonts/franklingothic-demi-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
html {
	background: #32C9F1;
	color: #111;
	font: normal 100%/1.5 'franklingothic-book', 'Helvetica', Arial, sans-serif;
}

h1, h2, h3, h4 {
	line-height: 1.25;
}
h1, h2, h3, h4, strong {
	font-weight: normal;
}

#bl-mkt-logo {
	display: block;
	position: relative;
	z-index: 4;
	max-width: 115px;
	margin: 3rem auto;
}
#bl-mkt-login {
	display: inline-block;
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 4;
	background: rgba(0,0,0,0.05);
	padding: .75rem 1.25rem;
	border: 1px solid #1BA9D0;
	border-radius: 3px;
	color: white;
	line-height: 1;
	text-decoration: none;
}
#bl-mkt-login:active {
	background: rgba(0,0,0,0.075);
	color: rgba(255,255,255,0.75);
}
/*#bl-mkt-login:focus {
	border-color: #1397BB;
}*/

#bl-mkt-done {
	/*background: #00D921;*/
	/*margin: -2rem -2rem 2rem;*/
	padding: 2rem 0 3.5rem;
	/*border-radius: 3px 3px 0 0;*/
}
#bl-mkt-done img {
	display: block;
	max-width: 100px;
	margin: auto;
}

#bl-mkt-main-form {
	position: relative;
	max-width: 500px;
	margin: 5rem auto;
}
#bl-mkt-main-form-content {
	max-width: 500px;
	background: white;
	padding: 2rem;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.075);
}
#bl-mkt-form-header {
	margin-bottom: .5rem;
	font-size: 35px;
}
.bl-mkt-hr {
	height: 40px;
}
.bl-mkt-field {
	display: block;
	cursor: pointer;
}
.bl-mkt-input {
	display: block;
	width: 100%;
	outline: none;
	background: white;
	margin-top: 10px;
	padding: 1rem 1.125rem;
	border: 1px solid #1BA9D0;
	border-radius: 3px;
	font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
}
.bl-mkt-input--error {
	border-color: red;
}
.bl-mkt-input:focus {
	border-color: #07526F;
	box-shadow: 0 0 0 1px #07526F, 0 0 0 3px rgba(0,0,0,0.075);
}
.bl-mkt-input--error:focus {
	border-color: red;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.075);
}

.bl-mkt-textarea--read-only {
	display: block;
	height: 10rem;
	width: 100%;
	outline: none;
	background: white;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #1BA9D0;
	border-radius: 3px;
	font-family: monospace;
	font-size: 14px;
	resize: none;
}
.bl-mkt-textarea--read-only:focus {
	border-color: #07526F;
	box-shadow: 0 0 0 1px #07526F, 0 0 0 3px rgba(0,0,0,0.075);
}

.bl-mkt-micro {
	display: block;
	margin-top: 8px;
	color: #777;
	font-size: 13px;
	line-height: 1.25;
}
.bl-mkt-micro + .bl-mkt-micro {
	margin-top: 3px;
}
.bl-mkt-micro--error {
	color: red;
}
#bl-mkt-submit,
.bl-mkt-button {
	display: block;
	position: relative;
	width: 100%;
	outline: none;
	background: #07526F;
	padding: 1rem 1.25rem;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-size: 20px;
}
#bl-mkt-submit:focus,
.bl-mkt-button:focus {
	box-shadow: 0 0 0 2px rgba(0,0,0,0.125);
}
#bl-mkt-submit:active,
.bl-mkt-button:active {
	background: #043B4F;
	color: rgba(255,255,255,0.75);
}
.bl-mkt-button {
	/*display: inline-block;
	width: auto;*/
	/*padding: 1rem 1.75rem .9rem;*/
	padding-bottom: .9rem;
	text-align: center;
	text-decoration: none;
}
#bl-mkt-submit:before,
#bl-mkt-submit:after {
	opacity: 0;
	transition: opacity .5s ease-in-out;
	content: "";
}
#bl-mkt-submit.is-submitted {
	color: #07526F;
}
#bl-mkt-submit:disabled {
	cursor: default;
}
#bl-mkt-submit.is-submitted:before,
#bl-mkt-submit.is-submitted:after {
	display: block;
	position: absolute;
	z-index: 2;
	opacity: 1;
}
#bl-mkt-submit.is-submitted:before {
	top: 50%;
	left: 50%;
	height: 20px;
	width: 4px;
	background: white;
	margin-top: -10px;
	margin-left: -2px;
	border-radius: 2px;
	animation: blRotate 1s infinite;
}
#bl-mkt-submit.is-submitted:after {
	top: 50%;
	left: 50%;
	opacity: .5;
	height: 4px;
	width: 20px;
	background: white;
	margin-top: -2px;
	margin-left: -10px;
	border-radius: 2px;
	animation: blRotate 1s infinite;
	animation-delay: .25s;
}

#bl-mkt-main-form-aside {
	display: none;
	padding: 1.5rem;
	color: white;
}
#bl-mkt-main-form-aside h2 {
	margin-bottom: 1.5rem;
	font-size: 25px;
}
/*#bl-mkt-main-form-aside ul {
	padding-left: 1rem;
	border-left: 2px solid;
}*/
#bl-mkt-main-form-aside li {
	padding-left: 1rem;
	border-left: 2px solid rgba(255,255,255,0.35);
	line-height: 1.25;
	list-style: none;
}
#bl-mkt-main-form-aside li:after {
	content: ",";
}
#bl-mkt-main-form-aside li:nth-of-type(n+2) {
	margin-top: 1rem;
}
#bl-mkt-main-form-aside li:last-child:after {
	content: ".";
}

#bl-mkt-main-form h3 {
	color: #777;
	font-size: 18px;
}
#bl-mkt-main-form strong {
	color: #111;
	font-family: 'franklingothic-demi', 'Helvetica', Arial, sans-serif;
}
#bl-mkt-progress-bar {
	height: .5rem;
	background: #ddd;
	margin: .5rem auto 2.5rem;
	border-radius: 4px;
	overflow: hidden;
	/*margin: -1.5rem -1.5rem 1.5rem;*/
}
#bl-mkt-progress {
	display: block;
	height: 100%;
	/*width: 0;*/
	background: #00D921;
	/*transition: width .5s ease-in-out;*/
}

#bl-mkt-success-msg {
	padding: 0 0 1rem;
	color: white;
	text-align: center;
}

@media screen and (max-width: 560px) {
	html {
		background: white;
	}
	#bl-mkt-header {
		background: #32C9F1;
		margin-bottom: .5rem;
		padding: 1.5rem;
	}
	#bl-mkt-logo {
		margin: .5rem 0 0;
	}
	#bl-mkt-login {
		top: 1.5rem;
		right: 1.5rem;
	}
	#bl-mkt-main-form {
		margin-top: 0;
		margin-bottom: 0;
	}
	#bl-mkt-main-form-content {
		border-radius: 0;
		box-shadow: none;
	}
	.bl-mkt-textarea--read-only {
		font-size: 16px;
	}
	#bl-mkt-submit,
	.bl-mkt-button {
		font-family: 'franklingothic-demi', 'Helvetica', Arial, sans-serif;
	}
	#bl-mkt-done img {
		margin: 0;
	}
}
@media screen and (max-height: 540px) {
	#bl-mkt-main-form-content {
		padding: 1.5rem;
	}
}

@media screen and (min-width: 500px) {
	#bl-mkt-main-form-content {
		padding: 3rem;
	}
	/*#bl-mkt-done {
		margin: -3rem -3rem 3rem;
	}*/
}

@media screen and (min-width: 900px) {
	#bl-mkt-main-form {
		max-width: 800px;
	}
	#bl-mkt-main-form.bl-mkt--no-side {
		max-width: 500px;
	}
	#bl-mkt-main-form-aside {
		position: absolute;
		top: 9rem;
		right: 0;
		width: 300px;
		padding: 3rem 0 3rem 3rem;
	}
	#bl-mkt-main-form-aside {
		display: block;
	}
}

/*@media screen and (min-width: 1000px) {
	#bl-mkt-main-form {
		max-width: 900px;
		left: 50px;
	}
	#bl-mkt-main-form-aside {
		position: absolute;
		top: 0;
		right: 50px;
		width: 350px;
		padding: 3rem;
		
	}
}*/

@keyframes blRotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}