@font-face {
    font-family: 'franklingothic';
    src: url('../fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('../fonts/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic';
    src: url('../fonts/franklingothic-demi-webfont.woff2') format('woff2'),
         url('../fonts/franklingothic-demi-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  color: #111;
  font: normal 100%/1.5 'Helvetica', Arial, sans-serif;
}
.fonts-loaded {
  font-family: 'franklingothic', 'Helvetica', Arial, sans-serif;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

a:link {
  color: #05b2e0;
}
a:visited {
  color: #043B4F;
}
a:hover {
  text-decoration: none;
}
a:active {
  opacity: .65;
}
h1, h2, h3 {
  line-height: 1.2;
}

.bl-mkt-scroll-more,
.bl-mkt-scroll-more--top {
  position: relative;
}
.bl-mkt-scroll-more:after,
.bl-mkt-scroll-more--top:after {
  display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
    height: 30px;
    width: 30px;
    background: white url(../images/down.png) no-repeat center;
    background-size: 14px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.125);
    content: "";
}
.bl-mkt-scroll-more--top:after {
  top: 0;
}

/* pricing */
#bl-mkt-blue {
  min-height: 100vh;
  background: #05b2e0;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
#bl-mkt-blue h1 {
  color: white;
  text-align: center;
}
#bl-mkt-pricing {
  background: white;
  max-width: 550px;
  margin: 1.5rem auto 0;
  padding: 40px;
  /*border-top: 5px solid #07526F;*/
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.14);
  color: #000;
}
#bl-mkt-pricing h2 {
  position: relative;
  left: 1rem;
  float: left;
  width: 50%;
  padding: 2.5rem 0 3rem;
  font-size: 80px;
  text-align: left;
}
#bl-mkt-pricing sup {
  position: relative;
  top: -5px;
  font-size: 30px;
}
#bl-mkt-pricing h2 span {
  display: block;
  margin-top: -10px;
  padding-left: 19px;
  color: #999;
  font-size: 18px;
  font-weight: normal;
}
.bl-mkt-benefit {
  display: block;
  margin-top: 1rem;
  text-align: left;
}
.bl-mkt-benefit img {
  display: inline-block;
  position: relative;
  top: 1px;
  max-height: 15px;
  margin-right: 5px;
}
/*.bl-mkt-benefit:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 1rem;
  width: 1rem;
  background: url(../images/checkmark--green.png) no-repeat center;
  background-size: 16px;
  margin-top: -.45rem;
  content: "";
}*/
.bl-mkt-benefit:nth-of-type(n+2) {
  margin-top: 1.25rem;
}
#bl-mkt-form-wrapper.in-pricing {
  clear: both;
  /*margin-top: 3rem;*/
  padding-top: 3rem;
  /*border-top: 1px solid #ccc;*/
}

#bl-mkt-intro-container {
  background: #05b2e0; /*32C9F1*/
  padding-top: 5rem;
  padding-bottom: 1px;
}
#bl-mkt-logo {
  display: block;
  position: relative;
  z-index: 4;
  max-width: 150px;
  margin: 0 auto 20vh;
}
#bl-mkt-logo.normal-margin {
  margin-bottom: 4rem;
}
#bl-mkt-login {
  display: inline-block;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 4;
  background: #05b2e0;
  padding: .75rem 1.25rem;
  border: 1px solid #0287AB;
  border-radius: 3px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  color: white;
  /*font-weight: bold;*/
  line-height: 1;
  text-decoration: none;
  /*animation: shake .25s ease-in-out;*/
}
#bl-mkt-login:active {
  background: #029CC4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255,255,255,0.75);
  opacity: 1;
}
/*#bl-mkt-login:focus {
  border-color: #1397BB;
}*/

#bl-mkt-main {
  position: relative;
  /*background: url(../images/back-image.png) no-repeat top center;*/
  /*background-size: 900px;*/
  /*padding-top: 400px;*/
  /*max-width: 500px;
  margin: auto;*/
  /*padding: 0 1.5rem;*/
  padding-bottom: 4rem;
  color: white;
  text-align: center;
}
/*#bl-mkt-main:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: #32C9F1;
  background: linear-gradient(to bottom, rgba(50,201,241, 0) 0%, rgba(50,201,241, 0.7) 50%, #32C9F1 100%);
  content: "";
}*/
#bl-mkt-main * {
  position: relative;
  z-index: 3;
}
#bl-mkt-main-header {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  /*font-family: 'franklingothic-demi', 'Helvetica', Arial, sans-serif;*/
  font-size: 50px;
  /*font-weight: 400;*/
  line-height: 1.1;
  /*text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);*/
}
#bl-mkt-main-sub {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  font-size: 24px;
  line-height: 1.2;
  /*text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);*/
}

#bl-mkt-form--submitted {
  display: none;
  /*opacity: 0;*/
  max-width: 450px;
  margin: auto auto 3rem;
  background: white;
  padding: 3rem 0;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  /*transition: opacity .25s ease-in-out;*/
}
#bl-mkt-form--submitted.is-shown {
  display: block;
}
/*#bl-mkt-form--submitted.is-transitioning {
  opacity: 1;
}*/
#bl-mkt-form--submitted h3 {
  color: #00C41E;
  font-size: 30px;
}
#bl-mkt-form--submitted span {
  display: block;
  padding-top: .5rem;
  color: #111;
  font-size: 16px;
  font-weight: normal;
}
#bl-mkt-form--submitted u {
  border-bottom: 1px dotted;
  text-decoration: none;
}

#bl-mkt-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#bl-mkt-email-title {
  display: block;
  margin-bottom: .75rem;
  /*color: rgba(255,255,255,0.85);*/
  text-align: left;
  /*text-shadow: 0 1px 1px #1BA9D0;*/
}
#bl-mkt-email-lbl {
  float: left;
  width: calc(60% - .5rem);
  text-align: left;
}
#bl-mkt-email-lbl:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 3;
  opacity: 0;
  height: 1rem;
  width: 1rem;
  background: url(../images/checkmark--green.png) no-repeat center;
  background-size: 16px;
  margin-top: -.45rem;
  content: "";
  transition: opacity .25s ease-in-out;
}
#bl-mkt-email-lbl.bl-mkt-input--good:after {
  opacity: 1;
}
#bl-mkt-email {
  display: block;
  width: 100%;
  outline: none;
  background: white;
  padding: 1rem 1.25rem;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.125) inset;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
}
#bl-mkt-email:focus {
  border-color: #07526F;
  /*box-shadow: 0 0 0 1px #07526F, 0 0 0 3px rgba(0,0,0,0.075);*/
}

#bl-mkt-email.bl-mkt-input--error {
  border-color: red;
}
#bl-mkt-email.bl-mkt-input:focus {
  border-color: #07526F;
  /*box-shadow: 0 0 0 1px #07526F, 0 0 0 3px rgba(0,0,0,0.075);*/
}
.bl-mkt-input--error:focus {
  border-color: red;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.075);
}
.bl-mkt-micro {
  display: inline-block;
  background: red;
  margin-top: 8px;
  padding: 3px 6px 2px;
  border-radius: 2px;
  color: white;
  font-size: 13px;
  line-height: 1.25;
  text-align: left;
}
/*.bl-mkt-micro--error {
  color: red;
}*/

#bl-mkt-submit {
  display: block;
  position: relative;
  float: right;
  width: calc(40% - .5rem);
  outline: none;
  /*background: #07526F;*/
  background: #F4610B;
  padding: 1rem 1.25rem;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
}
/*#bl-mkt-submit:focus {
  box-shadow: 0 0 0 2px rgba(5,178,224,0.25);
}*/
#bl-mkt-submit:active {
  /*background: #043B4F;*/
  background: #E05809;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255,255,255,0.75);
}
#bl-mkt-submit:before,
#bl-mkt-submit:after {
  opacity: 0;
  transition: opacity .5s ease-in-out;
  content: "";
}
#bl-mkt-submit.is-submitted {
  color: #07526F;
}
#bl-mkt-submit:disabled {
  cursor: default;
}
#bl-mkt-submit.is-submitted:before,
#bl-mkt-submit.is-submitted:after {
  display: block;
  position: absolute;
  z-index: 2;
  opacity: 1;
}
#bl-mkt-submit.is-submitted:before {
  top: 50%;
  left: 50%;
  height: 20px;
  width: 4px;
  background: white;
  margin-top: -10px;
  margin-left: -2px;
  border-radius: 2px;
  animation: blRotate 1s infinite;
}
#bl-mkt-submit.is-submitted:after {
  top: 50%;
  left: 50%;
  opacity: .5;
  height: 4px;
  width: 20px;
  background: white;
  margin-top: -2px;
  margin-left: -10px;
  border-radius: 2px;
  animation: blRotate 1s infinite;
  animation-delay: .25s;
}

/*#bl-mkt-more-wrapper {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  background: white;
  padding: 2rem 0;
}
#bl-mkt-more {
  display: block;
  background: white;
  margin: 3rem 0 0;
  padding: 1rem 0;
  color: #32C9F1;
  text-align: center;
}*/

#bl-mkt-why {
  background: #07526F;
  padding: 8rem 0;
  color: white;
  font-size: 20px;
  text-align: center;
}
#bl-mkt-why h2,
#bl-mkt-why p {
  max-width: 450px;
}
#bl-mkt-why h2 {
  margin: auto auto 1.5rem;
}
#bl-mkt-why p {
  margin: auto;
  /*text-align: left;*/
}
#bl-mkt-why p:nth-of-type(n+2) {
  margin-top: 1rem;
}
#bl-mkt-why strong {
  /*display: inline-block;
  background: #F8FAC5;
  padding: 3px 6px;
  color: #111;
  font-weight: normal;*/
  /*border-bottom: 2px dotted;*/
  color: #F2EF83;
  /*font-weight: normal;*/
}

#bl-mkt-more-wrapper {
  padding: 3rem 1.5rem 0;
}
#bl-mkt-more-wrapper h2 {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  /*color: #07526F;*/
  font-size: 30px;
  /*font-weight: normal;*/
  line-height: 1.2;
  /*text-align: center;*/
}
#bl-mkt-more-wrapper h2 span {
  display: block;
  padding-top: .5rem;
  color: #777;
  font-size: 16px;
  font-weight: normal;
}
#bl-mkt-more-wrapper ul {
  position: relative;
  margin-bottom: 2.5rem;
}
#bl-mkt-more-wrapper ul:after {
  display: block;
  position: absolute;
  top: 0;
  left: 18px;
  z-index: 1;
  height: 100%;
  width: 2px;
  background: #ddd;
  content: "";
}
#bl-mkt-more-wrapper li {
  position: relative;
  z-index: 2;
  background: white;
  padding-bottom: 1.5rem;
  /*color: #777;*/
  font-size: 20px;
  list-style: none;
}
#bl-mkt-more-wrapper li:nth-child(n+2) {
  margin-top: 5rem;
  padding-top: 1.5rem;
}
/*#bl-mkt-more-wrapper li:after {
  content: ",";
}*/
#bl-mkt-more-wrapper li:last-child {
  padding-bottom: 0;
}
/*#bl-mkt-more-wrapper li:last-child:after {
  content: ".";
}*/
#bl-mkt-more-wrapper small {
  display: block;
  color: #777;
  font-size: 14px;
}
#bl-mkt-more-wrapper ul img {
  display: block;
  height: 60px;
  /*max-width: 60px;*/
  margin-bottom: 1rem;
}
#bl-mkt-more-wrapper hr {
  display: block;
  height: 2px;
  /*width: 100%;*/
  background: #ddd;
  margin: 3.5rem -1.5rem;
}
#bl-mkt-more-wrapper p {
  margin-bottom: 1.5rem;
  font-size: 20px;
}
/*#bl-mkt-submit-btn {
  width: 100%;
  margin-bottom: 2.5rem;
  text-align: center;
  text-decoration: none;
}*/
#bl-mkt-examples {
  text-align: center;
}
#bl-mkt-examples a {
  display: inline-block;
  width: 48%;
  margin-bottom: 1.5rem;
}
#bl-mkt-examples img {
  display: block;
  max-height: 65px;
  max-width: 120px;
  margin: auto;
  border-radius: 4px;
  vertical-align: middle;
}
#bl-mkt-more-cta-wrapper {
  background: #07526F;
  margin: 4rem -1.5rem 0;
  padding: 3rem 1.5rem;
  color: white;
}
#bl-mkt-more-cta-wrapper p {
  font-size: 25px;
}
.bl-mkt-submit-btn {
  display: block;
  background: #F4610B;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: .85rem 1.25rem;
  border-radius: 3px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  color: white !important;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.bl-mkt-submit-btn:active {
  background: #E05809;
  opacity: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  color: rgba(255,255,255,0.75);
}
.margin-bottom {
  margin-bottom: 3rem;
}
#bl-mkt-demo {
  margin-top: 1.5rem;
  font-size: 16px;
}
/*#bl-mkt-demo a {
  color: #05b2e0;
}*/

#bl-mkt-footer {
  background: #07526F;
  padding: 3rem 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
#bl-mkt-footer a {
  color: inherit;
}

@media screen and (max-width: 560px) {
  #bl-mkt-blue {
    padding-top: 0;
    padding-bottom: 0;
  }
  #bl-mkt-blue h1 {
    text-align: left;
    padding: 0 1.5rem;
  }
  #bl-mkt-logo {
    top: .25rem;
  }
  #bl-mkt-logo.normal-margin {
    top: .75rem;
    margin-bottom: 0;
  }
  #bl-mkt-pricing {
    padding: 1.5rem;
    border-radius: 0;
  }
  #bl-mkt-pricing h2 {
    position: static;
    float: none;
    width: 100%;
    padding: 0 0 .5rem;
  }
  #bl-mkt-pricing h2 span {
    display: inline-block;
    position: relative;
    top: -2px;
    left: -15px;
    margin-top: 0;
    padding-left: 0;
  }
  #bl-mkt-form-wrapper.in-pricing {
    padding-top: 2rem;
  }
  #bl-mkt-header {
    margin-bottom: 3rem;
    padding: 1.5rem;
  }
  #bl-mkt-intro-container {
    padding-top: .5rem;
  }
  #bl-mkt-logo {
    max-width: 115px;
    margin: 0;
  }
  #bl-mkt-login {
    position: absolute;
    top: 1.65rem;
    right: 1.5rem;
    /*background: none;*/
    /*box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) inset;*/
    /*font-weight: bold;*/
  }
  #bl-mkt-main {
    padding: 0 1.5rem 3rem;
    text-align: left;
  }
  /*#bl-mkt-main:after {
    display: none;
    top: -5rem;
    background-position: top left;
    background-size: 800px;
  }*/
  #bl-mkt-main-header {
    font-size: 40px;
  }
  #bl-mkt-main-sub {
    margin-bottom: 3rem;
  }
  #bl-mkt-form--submitted {
    margin: -.5rem 0 3rem;
    padding: 3rem 1.5rem;
    border-radius: 0;
    text-align: left;
  }
  #bl-mkt-form {
    margin-bottom: 3rem;
  }
  /*#bl-mkt-email-title {
    display: none;
  }*/
  #bl-mkt-email-lbl,
  #bl-mkt-submit {
    float: none;
    width: 100%;
  }
  #bl-mkt-submit {
    margin-top: 1rem;
    /*font-family: 'franklingothic-demi', 'Helvetica', Arial, sans-serif;*/
  }
  /*#bl-mkt-submit-btn {
    font-family: 'franklingothic-demi', 'Helvetica', Arial, sans-serif;
  }*/
  /*#bl-mkt-more-wrapper {
    position: static;
  }*/
  #bl-mkt-why {
    padding: 5rem 1.5rem;
    text-align: left;
  }
  #bl-mkt-more {
    /*display: block;
    margin-bottom: 1.5rem;
    padding: 1rem .5rem;
    text-align: center;*/
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  #bl-mkt-more-wrapper ul img {
    /*max-height: 40px;
    max-width: 50px;*/
    height: 50px;
  }
  #bl-mkt-more-wrapper small {
    font-size: 16px;
  }
  #bl-mkt-examples a {
    display: block;
    width: 100%;
  }
  #bl-mkt-examples img {
    max-height: 90px;
    max-width: 150px;
    margin: 0;
  }
  .bl-mkt-submit-btn {
    max-width: 100%;
  }
  .margin-bottom {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 561px) {
  #bl-mkt-main:after {
    display: block;
    position: absolute;
    top: -9rem;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: url(../images/back-image.png) no-repeat top center;
    background-size: 900px;
    content: "";
  }
  #bl-mkt-main.no-image:after {
    display: none;
  }
}

@media screen and (max-height: 540px) {
  #bl-mkt-main-header {
    font-size: 32px;
  }
  #bl-mkt-main-sub {
    font-size: 20px;
  }
  /* hide demo note from small screens */
  #bl-modal-title-content-demo {
    display: none !important;
  }
  /* adjust title for small screens */
  #bl-modal-title-content {
    padding-right: 40px !important;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  #bl-mkt-intro-container {
    position: relative;
    height: 95vh;
    max-height: 700px;
  }
  #bl-mkt-more-wrapper {
    padding: 4rem 0 0;
  }
  #bl-mkt-more-wrapper h2 {
    margin-bottom: 4rem;
    text-align: center;
  }
  #bl-mkt-more-wrapper ul {
    max-width: 1200px;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #bl-mkt-more-wrapper ul:after {
    left: 50%;
    margin-left: -1px;
  }
  /*#bl-mkt-more-wrapper li {
    display: inline-block;
    width: 20%;
    padding-bottom: 0;
    padding-right: 1.5rem;
    vertical-align: top;
  }
  #bl-mkt-more-wrapper li:nth-child(n+2) {
    margin-top: 0;
    margin-left: 1.5rem;
    padding-top: 0;
    padding-left: 1.5rem;
  }*/
  #bl-mkt-more-wrapper hr {
    max-width: 800px;
    margin: 6rem auto;
  }
  #bl-mkt-more-wrapper img {
    margin-left: auto;
    margin-right: auto;
  }
  #bl-mkt-more-cta-wrapper {
    margin: 6rem 0 0;
    padding: 4rem 0;
  }
  #bl-mkt-more-cta-wrapper p {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  /*.bl-mkt-submit-btn {
    max-width: 280px;
  }*/
  #bl-mkt-examples {
    margin-top: -1rem;
  }
  #bl-mkt-examples a {
    width: auto;
    margin: 0 8px;
    padding: .25rem .4rem;
    border-radius: 4px;
    border: 2px solid #efefef;
  }
  #bl-mkt-examples a:hover {
    border-color: #ccc;
  }
  #bl-mkt-examples a:active {
    opacity: .65;
  }
  #bl-mkt-demo {
    margin-top: 2rem;
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  #bl-mkt-more-wrapper ul {
    margin-bottom: -10rem;
  }
  #bl-mkt-more-wrapper ul:after {
    display: none;
  }
  @supports (transform: rotate(60deg)) {
    #bl-mkt-more-wrapper ul:before {
      display: block;
      position: absolute;
      top: 18%;
      right: 50%;
      z-index: 1;
      height: 14rem;
      width: 2px;
      background: #ddd;
      content: "";
      transform: rotate(60deg);
    }
  }
  #bl-mkt-more-wrapper li {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 48%;
    background: none;
    margin-bottom: 10rem;
    vertical-align: top;
  }
  #bl-mkt-more-wrapper li:nth-child(1):after,
  #bl-mkt-more-wrapper li:nth-child(3):after {
    display: block;
    position: absolute;
    top: 50%;
    left: calc(100% - 2rem);
    z-index: 10;
    height: 2px;
    width: 4rem;
    background: #ddd;
    content: "";
  }
  #bl-mkt-more-wrapper li:nth-child(n+2) {
    margin-top: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  #bl-mkt-more-wrapper ul {
    margin-bottom: 0;
  }
  #bl-mkt-more-wrapper ul:after {
    display: block;
    top: 50%;
    left: 20%;
    height: 2px;
    width: 60%;
  }
  #bl-mkt-more-wrapper ul:before {
    display: none;
  }
  #bl-mkt-more-wrapper li {
    display: inline-block;
    width: 20%;
    background: white;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 1.5rem;
    vertical-align: top;
  }
  #bl-mkt-more-wrapper li:nth-child(n+2) {
    margin-top: 0;
    margin-left: 1.5rem;
    padding-top: 0;
    padding-left: 1.5rem;
  }
  #bl-mkt-more-wrapper li:nth-child(1):after,
  #bl-mkt-more-wrapper li:nth-child(3):after {
    display: none;
  }
}

@media screen and (min-width: 700px) and (min-height: 650px) {
  #bl-mkt-main {
    position: absolute;
    bottom: 3rem;
    left: 0;
    max-height: 800px;
    max-width: 100%;
    width: 100%;
    /*padding: 0;*/
    padding: 6rem 3rem 0;
  }
  #bl-mkt-main:after {
    top: -4rem;
  }
  #bl-mkt-main-header,
  #bl-mkt-main-sub {
    max-width: 100%;
    margin-left: inherit;
    margin-right: inherit;
  }
  #bl-mkt-form {
    max-width: 500px;
    margin: auto;
  }
  .bl-mkt-br {
    display: block;
  }
  #bl-mkt-more {
    margin-top: 4rem;
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

@media screen and (min-width: 1100px) {
  #bl-mkt-main {
    max-width: 100%;
    padding-top: 10rem;
  }
  #bl-mkt-form {
    max-width: 500px;
    margin: auto;
  }
  .bl-mkt-br {
    display: inline;
  }
}

/**** app demo overrides ****/
/*#bl-modal-title-content,
#bl-learn-more-title,
#bl-submitted-title {
  font-family: 'franklingothic-demi', 'Helvetica', Arial, sans-serif !important;
  font-weight: normal !important;
}*/

@keyframes blRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*@keyframes shake {
  0% {
    transform: rotate(-.5deg);
  }
  100% {
    transform: rotate(.5deg);
  }
}*/
